<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ensure.That" version="5.0.0" targetFramework="net46" />
  <package id="LibLog" version="4.2.6" targetFramework="net46" developmentDependency="true" />
  <package id="Nito.AsyncEx" version="3.0.1" targetFramework="net46" />
  <package id="SimpleJson" version="0.38.0" targetFramework="net46" />
</packages>